Repository nbrun-lucca/Lucca.BnB: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint --quiet --fix {staged_files}
  stage_fixed: true

stylelint:
  run: npx stylelint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

Clean
  .cd/kustomize/base/backend-proxy.yaml
  .cd/kustomize/base/deployment.yaml
  .cd/kustomize/base/frontend-proxy.yaml
  .cd/kustomize/base/kustomization.yaml
  .cd/kustomize/base/service.yaml
  .cd/kustomize/images.yaml
  .cd/kustomize/overlays/dev/backend-workstation-gc.yaml
  .cd/kustomize/overlays/dev/kustomization.yaml
  .cd/kustomize/overlays/prod/kustomization.yaml
  .cd/kustomize/overlays/staging/kustomization.yaml
  .cd/production.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/c-3po.yml
  .github/workflows/csharpier-check.yaml
  .github/workflows/lucca-ci.yaml
  CODEOWNERS
  front/src/assets/favicons/android-chrome-192x192.png
  front/src/assets/favicons/android-chrome-512x512.png
  front/src/assets/favicons/apple-touch-icon.png
  front/src/assets/favicons/browserconfig.xml
  front/src/assets/favicons/favicon-16x16.png
  front/src/assets/favicons/favicon-32x32.png
  front/src/assets/favicons/favicon.ico
  front/src/assets/favicons/mstile-144x144.png
  front/src/assets/favicons/mstile-150x150.png
  front/src/assets/favicons/mstile-310x150.png
  front/src/assets/favicons/mstile-310x310.png
  front/src/assets/favicons/mstile-70x70.png
  front/src/assets/favicons/safari-pinned-tab.svg
  front/src/assets/favicons/site.webmanifest
  front/src/assets/i18n/de.json
  front/src/assets/i18n/en.json
  front/src/assets/i18n/es.json
  front/src/assets/i18n/fr-CH.json
  front/src/assets/i18n/fr.json
  front/src/assets/i18n/it.json
  front/src/assets/i18n/nl-BE.json
  front/src/assets/i18n/nl.json
  front/src/assets/i18n/pt.json
  renovate.json
Due: none

feat(app): add routing and pages
  front/DOC.md
  front/src/app/app.config.ts
  front/src/app/app.routes.ts
  front/src/app/app.ts
  front/src/app/domains/admin/feature/admin.page.html
  front/src/app/domains/admin/feature/admin.page.scss
  front/src/app/domains/admin/feature/admin.page.ts
  front/src/app/domains/journey/feature/journey.page.html
  front/src/app/domains/journey/feature/journey.page.scss
  front/src/app/domains/journey/feature/journey.page.ts
  front/src/app/domains/shared/ui/sitemap/sitemap.component.html
  front/src/app/domains/shared/ui/sitemap/sitemap.component.ts
  front/src/app/domains/shelter/feature/shelter.page.html
  front/src/app/domains/shelter/feature/shelter.page.scss
  front/src/app/domains/shelter/feature/shelter.page.ts
  front/src/app/shared/data/translations/translations.ts
  front/src/app/shared/ui/sitemap/sitemap.component.html
  front/src/app/shared/ui/sitemap/sitemap.component.ts
  front/src/app/shared/util/app.const.ts
  front/src/styles.scss
Due: eslint, stylelint, prettier

refactor(pages): change titles and prepare containers
  front/DOC.md
  front/src/app/domains/admin/feature/admin.page.html
  front/src/app/domains/dashboard/feature/dashboard.page.html
  front/src/app/domains/journey/feature/journey.page.html
  front/src/app/domains/shelter/feature/shelter.page.html
  front/src/scss/components/container.scss
  front/src/styles.scss
Due: eslint, stylelint, prettier

refactor(pages): add guides, prepare filters, map and list of shelters, some cleaning
  front/src/app/domains/admin/feature/admin.page.html
  front/src/app/domains/dashboard/feature/dashboard.page.html
  front/src/app/domains/dashboard/feature/dashboard.page.ts
  front/src/app/domains/dashboard/ui/codes-sections-sidepanel/codes-sections-sidepanel.component.html
  front/src/app/domains/dashboard/ui/codes-sections-sidepanel/codes-sections-sidepanel.component.ts
  front/src/app/domains/dashboard/ui/properties-sections-sidepanel/properties-sections-sidepanel.component.html
  front/src/app/domains/dashboard/ui/properties-sections-sidepanel/properties-sections-sidepanel.component.ts
  front/src/app/domains/dashboard/ui/table-groupby/table-groupby.component.html
  front/src/app/domains/dashboard/ui/table-groupby/table-groupby.component.ts
  front/src/app/domains/dashboard/ui/table-tree/table-tree.component.html
  front/src/app/domains/dashboard/ui/table-tree/table-tree.component.ts
  front/src/app/domains/journey/feature/journey.page.html
  front/src/app/domains/journey/feature/journey.page.ts
  front/src/app/domains/journey/ui/journey-guide-sidepanel/journey-guide-sidepanel.component.html
  front/src/app/domains/journey/ui/journey-guide-sidepanel/journey-guide-sidepanel.component.ts
  front/src/app/domains/journey/ui/journey-shelters/journey-shelters.component.html
  front/src/app/domains/journey/ui/journey-shelters/journey-shelters.component.ts
  front/src/app/domains/shelter/feature/shelter.page.html
  front/src/app/domains/shelter/feature/shelter.page.ts
  front/src/app/domains/shelter/ui/shelter-guide-sidepanel/shelter-guide-sidepanel.component.html
  front/src/app/domains/shelter/ui/shelter-guide-sidepanel/shelter-guide-sidepanel.component.ts
  front/src/app/shared/ui/sitemap/sitemap.component.html
Due: eslint, prettier

feat(shelters): add sections, emptys and change wordings
  front/src/app/domains/dashboard/feature/dashboard.page.html
  front/src/app/domains/journey/feature/journey.page.html
  front/src/app/domains/journey/feature/journey.page.ts
  front/src/app/domains/shelter/feature/shelter.page.html
  front/src/app/domains/shelter/feature/shelter.page.ts
Due: eslint, prettier

feat(app): change all pages and routing
  front/src/app/app.routes.ts
  front/src/app/domains/admin/feature/admin.page.scss
  front/src/app/domains/dashboard/feature/dashboard.page.html
  front/src/app/domains/dashboard/feature/dashboard.page.scss
  front/src/app/domains/dashboard/feature/dashboard.page.ts
  front/src/app/domains/host/feature/host.page.html
  front/src/app/domains/host/feature/host.page.ts
  front/src/app/domains/host/ui/host-guide-sidepanel/host-guide-sidepanel.component.html
  front/src/app/domains/host/ui/host-guide-sidepanel/host-guide-sidepanel.component.ts
  front/src/app/domains/journey/feature/journey.page.scss
  front/src/app/domains/map/feature/map.page.html
  front/src/app/domains/map/feature/map.page.ts
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.html
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.ts
  front/src/app/domains/shelter/feature/shelter.page.scss
  front/src/app/domains/traveler/feature/traveler.page.html
  front/src/app/domains/traveler/feature/traveler.page.ts
  front/src/app/domains/traveler/ui/traveler-guide-sidepanel/traveler-guide-sidepanel.component.html
  front/src/app/domains/traveler/ui/traveler-guide-sidepanel/traveler-guide-sidepanel.component.ts
  front/src/app/shared/ui/sitemap/sitemap.component.html
Due: eslint, stylelint, prettier

feat(traveler): change empty, add actions and infos
  front/src/app/domains/host/feature/host.page.html
  front/src/app/domains/host/feature/host.page.ts
  front/src/app/domains/host/ui/host-infos/host-infos.component.html
  front/src/app/domains/host/ui/host-infos/host-infos.component.ts
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.html
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.ts
  front/src/app/domains/traveler/feature/traveler.page.html
  front/src/app/domains/traveler/feature/traveler.page.ts
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.html
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.ts
Due: eslint, prettier

fix(packages): remove vulnerabilities
  front/package-lock.json
  front/package.json
Due: none

feat(store): add store, can change host status, move shared
  front/package-lock.json
  front/package.json
  front/sheriff.config.ts
  front/src/app/app.config.ts
  front/src/app/app.ts
  front/src/app/domains/dashboard/feature/dashboard.page.html
  front/src/app/domains/dashboard/feature/dashboard.page.ts
  front/src/app/domains/host/feature/host.page.html
  front/src/app/domains/host/feature/host.page.ts
  front/src/app/domains/host/ui/host-deactivation-dialog/host-deactivation-dialog.component.html
  front/src/app/domains/host/ui/host-deactivation-dialog/host-deactivation-dialog.component.ts
  front/src/app/domains/host/ui/host-guide-sidepanel/host-guide-sidepanel.component.html
  front/src/app/domains/host/ui/host-guide-sidepanel/host-guide-sidepanel.component.ts
  front/src/app/domains/shared/data/stores/app.store.ts
  front/src/app/domains/shared/data/translations/translations.ts
  front/src/app/domains/shared/ui/sitemap/sitemap.component.html
  front/src/app/domains/shared/ui/sitemap/sitemap.component.ts
  front/src/app/domains/shared/util/app.const.ts
  front/src/app/domains/shared/util/models/host.ts
  front/src/app/domains/shared/util/models/request.ts
  front/src/app/domains/shared/util/models/traveler.ts
  front/src/app/domains/shared/util/models/user.ts
  front/src/app/domains/traveler/ui/traveler-guide-sidepanel/traveler-guide-sidepanel.component.html
  front/src/app/domains/traveler/ui/traveler-guide-sidepanel/traveler-guide-sidepanel.component.ts
Due: eslint, prettier

feat(dashboard): add ui for dashboard
  front/src/app/domains/dashboard/data/dashboard-card.ts
  front/src/app/domains/dashboard/feature/dashboard.page.html
  front/src/app/domains/dashboard/feature/dashboard.page.scss
  front/src/app/domains/dashboard/feature/dashboard.page.ts
  front/src/app/domains/dashboard/ui/dashboard-card/dashboard-card.component.html
  front/src/app/domains/dashboard/ui/dashboard-card/dashboard-card.component.scss
  front/src/app/domains/dashboard/ui/dashboard-card/dashboard-card.component.ts
  front/src/app/domains/map/feature/map.page.html
  front/src/assets/illustrations/house.png
  front/src/assets/illustrations/train.png
Due: eslint, stylelint, prettier

feat(dashboard): finish ui, add illustrations
  front/src/app/domains/dashboard/feature/dashboard.page.html
  front/src/app/domains/dashboard/feature/dashboard.page.scss
  front/src/app/domains/dashboard/ui/dashboard-card/dashboard-card.component.scss
  front/src/assets/illustrations/diapo.png
  front/src/assets/illustrations/files.png
  front/src/assets/illustrations/hotelTicket.png
  front/src/assets/illustrations/house.png
  front/src/assets/illustrations/keys.png
  front/src/assets/illustrations/mailbox.png
  front/src/assets/illustrations/manyKeys.png
  front/src/assets/illustrations/map.png
  front/src/assets/illustrations/passport.png
  front/src/assets/illustrations/photo01.png
  front/src/assets/illustrations/photo02.png
  front/src/assets/illustrations/plant.png
  front/src/assets/illustrations/postcard.png
  front/src/assets/illustrations/train.png
  front/src/assets/illustrations/trainTicket.png
Due: eslint, stylelint, prettier

feat(host/traveler): add data and models
  front/src/app/domains/host/feature/host.page.html
  front/src/app/domains/host/feature/host.page.ts
  front/src/app/domains/host/ui/host-infos/host-infos.component.html
  front/src/app/domains/host/ui/host-infos/host-infos.component.scss
  front/src/app/domains/host/ui/host-infos/host-infos.component.ts
  front/src/app/domains/shared/data/stores/app.store.ts
  front/src/app/domains/shared/util/models/host.ts
  front/src/app/domains/shared/util/models/traveler.ts
  front/src/app/domains/traveler/feature/traveler.page.html
  front/src/app/domains/traveler/feature/traveler.page.ts
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.html
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.scss
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.ts
  front/src/assets/illustrations/bubbles.png
  front/src/assets/illustrations/bubbles_card.png
  front/src/assets/illustrations/bubbles_host.png
  front/src/assets/illustrations/bubbles_traveler.png
  front/src/assets/illustrations/chrono.png
  front/src/assets/illustrations/contract.png
  front/src/assets/illustrations/croissant.png
  front/src/assets/illustrations/fidelity.png
  front/src/assets/illustrations/hat.png
Due: eslint, stylelint, prettier

refactor(all): rename "abri" by "hébergement"
  front/DOC.md
  front/src/app/domains/dashboard/feature/dashboard.page.html
  front/src/app/domains/dashboard/feature/dashboard.page.ts
  front/src/app/domains/host/feature/host.page.html
  front/src/app/domains/host/ui/host-deactivation-dialog/host-deactivation-dialog.component.html
  front/src/app/domains/host/ui/host-infos/host-infos.component.html
  front/src/app/domains/map/feature/map.page.html
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.html
  front/src/app/domains/shared/data/stores/app.store.ts
  front/src/app/domains/shared/ui/sitemap/sitemap.component.html
  front/src/app/domains/shared/util/models/traveler.ts
  front/src/app/domains/traveler/feature/traveler.page.html
Due: eslint, prettier

feat(traveler): add design for infos
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.html
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.scss
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.ts
  front/src/assets/illustrations/trombonne-photo.svg
Due: eslint, stylelint, prettier

fix(traveler): remove empty button
  front/src/app/domains/traveler/feature/traveler.page.html
  front/src/app/domains/traveler/feature/traveler.page.ts
Due: eslint, prettier

fix(traveler/host): finish designs with pinned photos
  front/src/app/domains/host/feature/host.page.html
  front/src/app/domains/host/feature/host.page.ts
  front/src/app/domains/host/ui/host-infos/host-infos.component.html
  front/src/app/domains/host/ui/host-infos/host-infos.component.scss
  front/src/app/domains/host/ui/host-infos/host-infos.component.ts
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.html
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.scss
Due: eslint, stylelint, prettier

fix(infos): apply design, fix ui with new component
  front/src/app/domains/host/ui/host-infos/host-infos.component.html
  front/src/app/domains/host/ui/host-infos/host-infos.component.scss
  front/src/app/domains/host/ui/host-infos/host-infos.component.ts
  front/src/app/domains/shared/data/stores/app.store.ts
  front/src/app/domains/shared/ui/info/info.component.html
  front/src/app/domains/shared/ui/info/info.component.ts
  front/src/app/domains/shared/util/models/host.ts
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.html
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.scss
  front/src/app/domains/traveler/ui/traveler-infos/traveler-infos.component.ts
Due: eslint, stylelint, prettier

feat(shelters): add grid list
  front/src/app/domains/dashboard/feature/dashboard.page.ts
  front/src/app/domains/map/feature/map.page.html
  front/src/app/domains/map/feature/map.page.ts
  front/src/app/domains/map/ui/map-bubble-left/map-bubble-left.component.html
  front/src/app/domains/map/ui/map-bubble-left/map-bubble-left.component.ts
  front/src/app/domains/map/ui/map-bubble-right/map-bubble-right.component.html
  front/src/app/domains/map/ui/map-bubble-right/map-bubble-right.component.ts
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.html
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.scss
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.ts
  front/src/app/domains/shared/data/stores/app.store.ts
  front/src/app/domains/shared/ui/sitemap/sitemap.component.html
  front/src/assets/images/empty.svg
Due: eslint, stylelint, prettier

refactor(accommodation): separate and rename components
  front/src/app/domains/map/ui/accommodation/accommodation.component.html
  front/src/app/domains/map/ui/accommodation/accommodation.component.scss
  front/src/app/domains/map/ui/accommodation/accommodation.component.ts
  front/src/app/domains/map/ui/bubbles-left/bubbles-left.component.html
  front/src/app/domains/map/ui/bubbles-left/bubbles-left.component.ts
  front/src/app/domains/map/ui/bubbles-right/bubbles-right.component.html
  front/src/app/domains/map/ui/bubbles-right/bubbles-right.component.ts
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.html
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.ts
Due: eslint, stylelint, prettier

refactor(accommodation): renaming
  front/src/app/app.routes.ts
  front/src/app/domains/accommodations/feature/accommodations.page.html
  front/src/app/domains/accommodations/feature/accommodations.page.ts
  front/src/app/domains/accommodations/ui/accommodation-card/accommodation-card.component.html
  front/src/app/domains/accommodations/ui/accommodation-card/accommodation-card.component.scss
  front/src/app/domains/accommodations/ui/accommodation-card/accommodation-card.component.ts
  front/src/app/domains/accommodations/ui/bubbles-left/bubbles-left.component.html
  front/src/app/domains/accommodations/ui/bubbles-left/bubbles-left.component.ts
  front/src/app/domains/accommodations/ui/bubbles-right/bubbles-right.component.html
  front/src/app/domains/accommodations/ui/bubbles-right/bubbles-right.component.ts
  front/src/app/domains/dashboard/feature/dashboard.page.ts
  front/src/app/domains/host/feature/host.page.html
  front/src/app/domains/host/ui/host-infos/host-infos.component.html
  front/src/app/domains/map/feature/map.page.ts
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.html
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.scss
  front/src/app/domains/map/ui/map-shelters/map-shelters.component.ts
  front/src/app/domains/shared/data/stores/app.store.ts
  front/src/app/domains/shared/ui/sitemap/sitemap.component.html
  front/src/app/domains/shared/util/models/host.ts
  front/src/app/domains/shared/util/models/request.ts
Due: eslint, stylelint, prettier

feat(accommodations): add map and ajust sections orders
  front/src/app/domains/accommodations/feature/accommodations.page.html
  front/src/app/domains/accommodations/feature/accommodations.page.scss
  front/src/app/domains/accommodations/feature/accommodations.page.ts
  front/src/app/domains/dashboard/feature/dashboard.page.html
  front/src/app/domains/host/feature/host.page.html
  front/src/app/domains/traveler/feature/traveler.page.html
Due: eslint, stylelint, prettier

Path conditions:
  eslint: any of: *.{ts,html} and ^front/
  stylelint: any of: *.{css,scss} and ^front/
  prettier: any of: *.{js,mjs,ts,scss,html} and ^front/
